canvas {
    border: 3px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: white; /* anders komt het slecht uit met de afbeeldingen */
    /* background-color: floralwhite; */
  
}

/* boxen */
.beginbox{
	text-align: center;
	font-family: "Comic Sans MS";
	display: block;
	visibility: visible;
	position: fixed;
	z-index: 1;
	background-color: rgba(0.0,0.0,0.0,0.4);
	width: 100%;
	height: 100%;
	color: rgb(1.0,1.0,1.0);
  
  /* bring your own prefixes */
  /* transform: translate(60%, 0%); */
}

.beginboxContent{
	text-align: center;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}  

div.test {
    text-align: center;
    font-family: "Comic Sans MS";
}

div.kleurplaats{
		 
		 text-align: center;
		 position: relative;
		 left: -14%;
		 
	
}
div.vormplaats{
	
	text-align: center;
	position: relative;
	
	left: 14%;
	bottom:165px;
}
/* boxen */
/*.beginbox{
	visibility: visible;
	position: fixed;*/
  
  /* bring your own prefixes */
 /* transform: translate(60%, 0%);
     
}*/

.tussenbox{
	text-align: center;
	font-family: "Comic Sans MS";
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background-color: rgba(0.0,0.0,0.0,0.4);
	width: 100%;
	height: 100%;
	color: rgb(1.0,1.0,1.0);	
}

.tussenboxContent{
	text-align: center;
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* Spel */
.spel{
	display: none;
	
}


--------------------------------------------------/* css gekopieerd van wai-not */-----------------------------------------------------------------------------------

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section{
  display: block; }



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.btnverbeteren {
  white-space: normal;
  max-width: 100%;
  border-radius: 32px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  position: relative;
  text-decoration: none;
  display: inline-block;
  background-color: #60cd84;
  overflow: hidden;
  font-family: "varela", "Arial", sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
  text-align: center;
  bottom : 170px;
  border: none;
  text-transform: uppercase;
  vertical-align: top;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; 
  cursor: pointer;}
.btnverbeteren > div {
    width: 100%;
    height: 100%;
    padding: 13px 30px 16px;
    border-radius: 32px;
    -webkit-box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.15); }
.btnverbeteren:hover, .btnverbeteren.hover, .btnHover:hover .btnverbeteren {
      background-color: #36ab5c; }
	
.btn {
  white-space: normal;
  max-width: 100%;
  border-radius: 32px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  position: relative;
  text-decoration: none;
  display: inline-block;
  background-color: #f78897;
  overflow: hidden;
  font-family: "varela", "Arial", sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  border: none;
  text-transform: uppercase;
  vertical-align: top;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .btn > div {
    width: 100%;
    height: 100%;
    padding: 13px 30px 16px;
    border-radius: 32px;
    -webkit-box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, 0.15); }
  
.btn.easy {
    background-color: #60cd84;
    cursor: pointer;}
.btn.easy:hover, .btn.easy.hover, .btnHover:hover .btn.easy {
      background-color: #36ab5c; }
.btn.normal {
    cursor: pointer;
    background-color: #ffa94c; }
.btn.normal:hover, .btn.normal.hover, .btnHover:hover .btn.normal {
      background-color: #ff8400; }
.btn.hard {
    cursor: pointer;
    background-color: #f04d64; }
.btn.hard:hover, .btn.hard.hover, .btnHover:hover .btn.hard {
      background-color: #de132f; }
 




    
    

    